*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.titleDiv{
    display: flex;
    justify-content: center;
}
.searchAndFilterDiv{
    display: grid;
    grid-template-columns: 30% 5% 30%;
    justify-content: center;
}
.filterDiv{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 5%;
    justify-content: center;
}
.filterDiv > h4{
    text-align: end;
}
.searchAndFilterDiv > h4{
    display: flex;
    justify-content: center;
}
.searchDiv{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 5%;
    justify-content: center;
}
.allDataDiv
{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: center;
}
.allDataDiv > div
{
    outline: 1px solid black;
    margin: 10px;
    padding: 5px;
    text-overflow: clip;
}

img
{
    width: 100%;
}